In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These to the correct location of the data files):
school_data_to_load  = "../../../../../UCF-LKM-DATA-PT-12-2020-U-C/Homework/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "../../../../../UCF-LKM-DATA-PT-12-2020-U-C/Homework/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv"

# Read School and StudentData File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()
school_data_complete["budget"].isnull().values.any()

False

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
total_schools = len(school_data_complete["school_name"].unique())

In [3]:
# Calculate the total number of students
total_students = len(school_data_complete)
total_students

39170

In [4]:
# Calculate the total budget
#school_data_complete["budget"].map("${:,.2f}".format)
#print("$%.2f" % school_data_complete["budget"].sum())
total_budget = school_data["budget"].sum()
"$" + f"{total_budget:,.0f}".format()

'$24,649,428'

In [5]:
#Calculate the average math score
mean_math_score = school_data_complete["math_score"].mean()
print("%.2f\n" % mean_math_score )

78.99

In [6]:
# Calculate the average reading score
mean_reading_score  = school_data_complete["reading_score"].mean()
print("%.2f\n" %  mean_reading_score )

81.88

In [7]:
#Calculate the percentage of students with a passing math score (70 or greater)
#find the total number of students
total_students = len(school_data_complete)
#get the number of students with passing score > 70 
passing_students = len(school_data_complete.loc[school_data_complete["math_score"] >= 70, :])
math_passing_percentage = (passing_students/total_students) 
f'{math_passing_percentage:.0%}'.format()

'75%'

In [8]:
# Calculate the percentage of students with a passing reading score (70 or greater)
#get the number of students with passing score > 70 
passing_students = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70, :])
read_passing_percentage = (passing_students/total_students) 
f'{read_passing_percentage:.0%}'.format()

'86%'

In [9]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = len(school_data_complete.loc[( school_data_complete["reading_score"]>=70 ) & 
                                               ( school_data_complete["math_score"]>=70 )
                                              ])
overall_passing_pct = (overall_passing/total_students)
f'{overall_passing_pct:.0%}'.format()

'65%'

In [10]:
# Create a dataframe to hold the above results
student_results = pd.DataFrame(
                               {   "TotalSchools"         : total_schools,
                                   "TotalStudents"        : total_students,
                                   "TotalBudget"          : total_budget, 
                                   "AverageMathScore"     : mean_math_score,
                                   "AverageReadingScore"  : mean_reading_score,
                                   "PercentageMathPassed" : math_passing_percentage,
                                   "PercentageReadPassed" : read_passing_percentage,
                                   "OverallPassed"        : overall_passing_pct
                               }, ['Results']
                              )
student_results

,TotalSchools,TotalStudents,TotalBudget,AverageMathScore,AverageReadingScore,PercentageMathPassed,PercentageReadPassed,OverallPassed
Results,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

In [11]:
#Optional: give the displayed data cleaner formatting
student_results_formatted = pd.DataFrame(
                               {   "TotalSchools"         : total_schools,
                                   "TotalStudents"        : f'{total_students:,}'.format()       ,
                                   "TotalBudget"          : "$" + f"{total_budget:,.0f}".format(), 
                                   "AverageMathScore"     : f"{mean_math_score:,.2f}".format(),
                                   "AverageReadingScore"  : f"{mean_reading_score:,.2f}".format(),
                                   "PercentageMathPassed" : f'{math_passing_percentage:.0%}'.format(),
                                   "PercentageReadPassed" : f'{read_passing_percentage:.0%}'.format() 
                               }, ['Results']
                              )
student_results_formatted

,TotalSchools,TotalStudents,TotalBudget,AverageMathScore,AverageReadingScore,PercentageMathPassed,PercentageReadPassed
Results,15,"39,170","$24,649,428",78.99,81.88,75%,86%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
"""
We follow the same steps to create the final data frame (school_summary) with the results:
1) Create the groupby object by grouping the merged school data by school_name and (school) type.
2) Create a sequence by applying the summary function (mean, count, unique, etc.) and assign to a variable.
3) Set each variable as the value for dictionary entries passed to the  pd.DataFrame() constructor.
"""

grouped_school_data = school_data_complete.groupby(["school_name", "type"])

total_students_per_school_s = grouped_school_data["Student ID"].count()  # total Student count per school

budget_per_school_s  = grouped_school_data["budget"].max()  # budget amounts repeat in each groupby row, get only one value per group

per_student_budget_s        = budget_per_school_s / total_students_per_school_s

average_math_score_s        =  grouped_school_data["math_score"].mean()
average_read_score_s        =  grouped_school_data["reading_score"].mean()

passing_math_df = school_data_complete[ school_data_complete["math_score"] >= 70]
passing_math_per_school_group = passing_math_df.groupby(["school_name", "type"])
passing_math_per_school_s = passing_math_per_school_group["Student ID"].count()

passing_math_percent_per_school_s = passing_math_per_school_s / total_students_per_school_s

passing_read_df               = school_data_complete[ school_data_complete["reading_score"] >= 70]
passing_read_per_school_group = passing_read_df.groupby(["school_name", "type"])
passing_read_per_school_s     = passing_read_per_school_group["Student ID"].count()

passing_read_percent_per_school_s = passing_read_per_school_s / total_students_per_school_s
passing_read_percent_per_school_s * 100


overall_passed_df = school_data_complete[ (school_data_complete[ "math_score"] >= 70) & (school_data_complete ["reading_score"] >= 70 )]
grouped_overall_passed_df = overall_passed_df.groupby(["school_name", "type"])
overall_passing_percentage = (grouped_overall_passed_df["Student ID"].count()/ total_students_per_school_s) * 100

school_summary = pd.DataFrame( { "Total Students": total_students_per_school_s, 
                                 "Total Budget"  : budget_per_school_s        ,
                                 "Budget Per Student": per_student_budget_s,
                                 "Average Math Score": average_math_score_s,
                                 "Average Reading Score": average_read_score_s,
                                 "Passing Math Percentage": passing_math_percent_per_school_s,
                                 "Passing Read Percentage": passing_read_percent_per_school_s,
                                 "Overall Passing Percentage": overall_passing_percentage
                               }
                             )

school_summary.reset_index(inplace=True)
school_summary.set_index("school_name", inplace=True)
index = school_summary.index
index.name = None
school_summary.rename(columns={"type":"School Type"}, inplace=True)
school_summary.head(10)

,School Type,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Read Percentage,Overall Passing Percentage
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,90.540541

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [13]:
school_summary.sort_values("Overall Passing Percentage", ascending=False).head(5)

,School Type,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Read Percentage,Overall Passing Percentage
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [14]:
school_summary.sort_values("Overall Passing Percentage", ascending=True).head(5)

,School Type,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Read Percentage,Overall Passing Percentage
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [15]:
#Create a pandas series for each grade

# 9th grade
nineth_grade          = school_data_complete[ school_data_complete["grade"] == "9th"]
nineth_grade_group    = nineth_grade.groupby("school_name")
nineth_grade_math_avg = nineth_grade_group["math_score"].mean()

# 10th grade
tenth_grade          = school_data_complete[ school_data_complete["grade"] == "10th"]
tenth_grade_group    = tenth_grade.groupby("school_name")
tenth_grade_math_avg = tenth_grade_group["math_score"].mean()

# 11th grade
eleventh_grade          = school_data_complete[ school_data_complete["grade"] == "11th"]
eleventh_grade_group    = eleventh_grade.groupby("school_name")
eleventh_grade_math_avg = eleventh_grade_group["math_score"].mean()

# 12th grade
twelveth_grade          = school_data_complete[ school_data_complete["grade"] == "12th"]
twelveth_grade_group    = twelveth_grade.groupby("school_name")
twelveth_grade_math_avg = twelveth_grade_group["math_score"].mean()

math_scores_by_grade_and_school = pd.DataFrame(  { "9th" : nineth_grade_math_avg  ,
                                                   "10th": tenth_grade_math_avg   ,
                                                   "11th": eleventh_grade_math_avg,
                                                   "12th": twelveth_grade_math_avg
                                                 })

index = math_scores_by_grade_and_school.index
index.name = None
math_scores_by_grade_and_school

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [16]:
#Create a pandas series for each grade, grouping each series by school_name

# 9th grade
nineth_grade          = school_data_complete[ school_data_complete["grade"] == "9th"]
nineth_grade_group    = nineth_grade.groupby("school_name")
nineth_grade_read_avg = nineth_grade_group["reading_score"].mean()

# 10th grade
tenth_grade          = school_data_complete[ school_data_complete["grade"] == "10th"]
tenth_grade_group    = tenth_grade.groupby("school_name")
tenth_grade_read_avg = tenth_grade_group["reading_score"].mean()

# 11th grade
eleventh_grade          = school_data_complete[ school_data_complete["grade"] == "11th"]
eleventh_grade_group    = eleventh_grade.groupby("school_name")
eleventh_grade_read_avg = eleventh_grade_group["reading_score"].mean()

# 12th grade
twelveth_grade          = school_data_complete[ school_data_complete["grade"] == "12th"]
twelveth_grade_group    = twelveth_grade.groupby("school_name")
twelveth_grade_read_avg = twelveth_grade_group["reading_score"].mean()

#combine the series in a Data Frame
reading_scores_by_grade_and_school = pd.DataFrame(  { "9th" : nineth_grade_read_avg  ,
                                                   "10th": tenth_grade_read_avg   ,
                                                   "11th": eleventh_grade_read_avg,
                                                   "12th": twelveth_grade_read_avg
                                                 })

# Give the displayed data cleaner formatting
index = reading_scores_by_grade_and_school.index
index.name = None
reading_scores_by_grade_and_school

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
bins=[ 0, 585, 630, 645, 680]
group_labels = ["< 585", "585-630", "630-645", "645-680"]

school_summary["Spending Range (Per Student)"] = pd.cut(school_summary["Budget Per Student"], bins, labels=group_labels)
school_summary2 = school_summary.set_index(keys="Spending Range (Per Student)", inplace=False)
grouped_school_summary  = school_summary2.groupby("Spending Range (Per Student)")
grouped_school_summary[["Average Math Score", "Average Reading Score", "Passing Math Percentage", "Passing Read Percentage", "Overall Passing Percentage"]].mean()

,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Read Percentage,Overall Passing Percentage
Spending Range (Per Student),,,,,
< 585,83.455399,83.933814,0.934601,0.966109,90.369459
585-630,81.899826,83.155286,0.871335,0.927182,81.418596
630-645,78.518855,81.624473,0.734842,0.843918,62.857656
645-680,76.997210,81.027843,0.661648,0.811340,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [18]:
bins=[ 0, 1000, 2000, 5000]
group_labels = ["< 1000 (Small)", "1000-2000 (Medium)", "4000-5000 (Large)"]

school_summary["School Size"] = pd.cut(school_summary["Total Students"], bins, labels=group_labels)
school_summary3 = school_summary.set_index(keys="School Size", inplace=False)
school_summary3

grouped_school_summary3  = school_summary3.groupby("School Size")
grouped_school_summary3[["Average Math Score", "Average Reading Score", "Passing Math Percentage", "Passing Read Percentage", "Overall Passing Percentage"]].mean()

,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Read Percentage,Overall Passing Percentage
School Size,,,,,
< 1000 (Small),83.821598,83.929843,0.935502,0.960994,89.883853
1000-2000 (Medium),83.374684,83.864438,0.935997,0.967907,90.621535
4000-5000 (Large),77.746417,81.344493,0.699634,0.827666,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [19]:
flat_school_summary = school_summary.reset_index()
grouped_flat_school_summary = flat_school_summary.groupby("School Type")
final_summary = grouped_flat_school_summary[["Average Math Score", "Average Reading Score", "Passing Math Percentage", "Passing Read Percentage", "Overall Passing Percentage"]].mean()
final_summary

,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Read Percentage,Overall Passing Percentage
School Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,90.432244
District,76.956733,80.966636,0.665485,0.807991,53.672208