In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load  = "../../../../../UCF-LKM-DATA-PT-12-2020-U-C/Homework/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "../../../../../UCF-LKM-DATA-PT-12-2020-U-C/Homework/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv"

# Read School and StudentData File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
total_schools = len(school_data_complete["school_name"].unique())

In [3]:
# Calculate the total number of students
total_students = len(school_data_complete)
total_students

39170

In [4]:
# Calculate the total budget
#school_data_complete["budget"].map("${:,.2f}".format)
#print("$%.2f" % school_data_complete["budget"].sum())
total_budget = school_data["budget"].sum()
"$" + f"{total_budget:,.0f}".format()

'$24,649,428'

In [5]:
#Calculate the average math score
mean_math_score = school_data_complete["math_score"].mean()
print("%.2f\n" % mean_math_score )

78.99

In [6]:
# Calculate the average reading score
mean_reading_score  = school_data_complete["reading_score"].mean()
print("%.2f\n" %  mean_reading_score )

81.88

In [7]:
#Calculate the percentage of students with a passing math score (70 or greater)
#find the total number of students
total_students = len(school_data_complete)
#get the number of students with passing score > 70 
passing_students = len(school_data_complete.loc[school_data_complete["math_score"] >= 70, :])
math_passing_percentage = (passing_students/total_students) 
f'{math_passing_percentage:.0%}'.format()

'75%'

In [8]:
# Calculate the percentage of students with a passing reading score (70 or greater)
#get the number of students with passing score > 70 
passing_students = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70, :])
read_passing_percentage = (passing_students/total_students) 
f'{read_passing_percentage:.0%}'.format()

'86%'

In [9]:
# Create a dataframe to hold the above results
student_results = pd.DataFrame(
                               {   "TotalSchools"         : total_schools,
                                   "TotalStudents"        : total_students,
                                   "TotalBudget"          : total_budget, 
                                   "AverageMathScore"     : mean_math_score,
                                   "AverageReadingScore"  : mean_reading_score,
                                   "PercentageMathPassed" : math_passing_percentage,
                                   "PercentageReadPassed" : read_passing_percentage 
                               }, ['Results']
                              )
student_results

,TotalSchools,TotalStudents,TotalBudget,AverageMathScore,AverageReadingScore,PercentageMathPassed,PercentageReadPassed
Results,15,39170,24649428,78.985371,81.87784,0.749809,0.858055

In [10]:
#Optional: give the displayed data cleaner formatting
student_results_formatted = pd.DataFrame(
                               {   "TotalSchools"         : total_schools,
                                   "TotalStudents"        : f'{total_students:,}'.format()       ,
                                   "TotalBudget"          : "$" + f"{total_budget:,.0f}".format(), 
                                   "AverageMathScore"     : f"{mean_math_score:,.2f}".format(),
                                   "AverageReadingScore"  : f"{mean_reading_score:,.2f}".format(),
                                   "PercentageMathPassed" : f'{math_passing_percentage:.0%}'.format(),
                                   "PercentageReadPassed" : f'{read_passing_percentage:.0%}'.format() 
                               }, ['Results']
                              )
student_results_formatted

,TotalSchools,TotalStudents,TotalBudget,AverageMathScore,AverageReadingScore,PercentageMathPassed,PercentageReadPassed
Results,15,"39,170","$24,649,428",78.99,81.88,75%,86%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [22]:
grouped_school_data = school_data_complete.groupby(["school_name", "type"])
#school_data_complete.count() # Total Row Count

total_students_per_school_s = grouped_school_data["Student ID"].count()  # total Student count per school
total_students_per_school_s

budget_per_school_s         = grouped_school_data["budget"].unique()    # budget amount per school
#budget_per_school_s

per_student_budget_s        = budget_per_school_s / total_students_per_school_s
#per_student_budget_s

average_math_score_s        =  grouped_school_data["math_score"].mean()
average_read_score_s        =  grouped_school_data["reading_score"].mean()

passing_math_df = school_data_complete[ school_data_complete["math_score"] >= 70]
passing_math_per_school_group = passing_math_df.groupby(["school_name", "type"])
passing_math_per_school_s = passing_math_per_school_group["Student ID"].count()

passing_math_percent_per_school_s = passing_math_per_school_s / total_students_per_school_s
#assing_math_percent_per_school_s

passing_read_df               = school_data_complete[ school_data_complete["reading_score"] >= 70]
passing_read_per_school_group = passing_read_df.groupby(["school_name", "type"])
passing_read_per_school_s     = passing_read_per_school_group["Student ID"].count()

passing_read_percent_per_school_s = passing_read_per_school_s / total_students_per_school_s
passing_read_percent_per_school_s * 100


overall_passed_df = school_data_complete[ (school_data_complete[ "math_score"] >= 70) & (school_data_complete ["reading_score"] >= 70 )]
grouped_overall_passed_df = overall_passed_df.groupby(["school_name", "type"])
overall_passing_percentage = (grouped_overall_passed_df["Student ID"].count()/ grouped_school_summary["Student ID"].count()) * 100

school_summary = pd.DataFrame( { "Total Students": total_students_per_school_s, 
                                 "Total Budget"  : budget_per_school_s        ,
                                 "Budget Per Student": per_student_budget_s,
                                 "Average Math Score": average_math_score_s,
                                 "Average Reading Score": average_read_score_s,
                                 "Passing Math Percentage": passing_math_percent_per_school_s,
                                 "Passing Read Percentage": passing_read_percent_per_school_s,
                                 "Overall Passing Percentage": overall_passing_percentage
                               }
                             )
school_summary

,,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Read Percentage,Overall Passing Percentage
school_name,type,,,,,,,,
Bailey High School,District,4976,[3124928],[628.0],77.048432,81.033963,0.666801,0.819333,54.642283
Cabrera High School,Charter,1858,[1081356],[582.0],83.061895,83.975780,0.941335,0.970398,91.334769
Figueroa High School,District,2949,[1884411],[639.0],76.711767,81.158020,0.659885,0.807392,53.204476
Ford High School,District,2739,[1763916],[644.0],77.102592,80.746258,0.683096,0.792990,54.289887
Griffin High School,Charter,1468,[917500],[625.0],83.351499,83.816757,0.933924,0.971390,90.599455
Hernandez High School,District,4635,[3022020],[652.0],77.289752,80.934412,0.667530,0.808630,53.527508
Holden High School,Charter,427,[248087],[581.0],83.803279,83.814988,0.925059,0.962529,89.227166
Huang High School,District,2917,[1910635],[655.0],76.629414,81.182722,0.656839,0.813164,53.513884
Johnson High School,District,4761,[3094650],[650.0],77.072464,80.966394,0.660576,0.812224,53.539172
Pena High School,Charter,962,[585858],[609.0],83.839917,84.044699,0.945946,0.959459,90.540541
Rodriguez High School,District,3999,[2547363],[637.0],76.842711,80.744686,0.663666,0.802201,52.988247
Shelton High School,Charter,1761,[1056600],[600.0],83.359455,83.725724,0.938671,0.958546,89.892107
Thomas High School,Charter,1635,[1043130],[638.0],83.418349,83.848930,0.932722,0.973089,90.948012
Wilson High School,Charter,2283,[1319574],[578.0],83.274201,83.989488,0.938677,0.965396,90.582567
Wright High School,Charter,1800,[1049400],[583.0],83.682222,83.955000,0.933333,0.966111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type